{% extends 'base.html' %}

{% block content %}

    <h3>Posts</h3>

    {% for post in posts %}
        <article class="post">
            <div class="date">{{ post.created_on }}</div>
            <h4 class="post-title"><a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a></h4>
            <div class="post-content">
                <p>{{ post.content }}</p>
                <a href="{% url 'blog:post-detail' post.pk %}">continue reading &rarr;</a>
            </div>
        </article>
    {% endfor %}

{% endblock %}
