{% extends 'base.html' %}

{% block content %}
    <header>
        <h1 style="text-align: center">REDDY PRASAD's Blog</h1>
    </header>
    <div class="content">
        {% for post in posts %}
            <div class="row">
                <article class="post col-6">
                    <div class="date light-color">{{ post.created_on|date }}</div>
                    <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <div class="post-content">
                        {% firstof post.description|linebreaks post.content_as_html|truncatewords_html:'60'  %}
                    </div>
                    <a class="read-more" href="{{ post.get_absolute_url }}">continue reading &rarr;</a>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
