{% extends 'base.html' %}
{% load custom_filters static %}

{% block title %} {{ post.title }} {% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'highlight/styles/solarized-dark.css' %}">
{% endblock %}

{%  block content %}
    <div class="content">
        <div class="row">
            <article class="col-6">
                <div class="date light-color">{{ post.created_on|date }}</div>
                <h1 class="title">{{ post.title }}</h1>
                <p class="post-by light-color">by {% firstof post.author.get_full_name post.author.username %}</p>
                <hr />
                {% if post.cover_image %}
                    <div class="cover-image">
                        <img src="{{ post.cover_image.url }}">
                    </div>
                {% endif %}
                <div class="post-content">
                    {{ post.content|as_html }}
                </div>
            </article>
        </div>

        <div class="row">
            <div class="col-6">
                <hr />
                {% include 'social_share.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}