.container {
    width: 100%;
    box-sizing: border-box;
}

.row {
    margin-bottom: 12px;
}
.row:before,
.row:after {
    content: "";
    display: table;
    visibility: hidden;
}

.row:after {
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 12px;
    box-sizing: border-box;
}

.col-1 {
    width: 16.66%;
}

.col-2 {
    width: 33.33%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.664%;
}

.col-5 {
    width: 83.33%;
}

.col-6 {
    width: 100%;
}