body {
    color: #333232;
    font-family: "Roboto", "Lucida Grande", Arial, sans-serif;
    line-height: 1em;
}

a {
    color: #089cce;
    text-decoration: none;
}

.gray-color {
    color: #cccbcb;
}

.container {
    padding: 5px 10px;
}

.post-title a {
    color: inherit;
    font-weight: 500;
}

.post-title a:hover {
    color: #089cce;
}

.post {
    padding: 15px 10px;
    border-top: solid 1px #f6f6f6;
    border-bottom: solid 1px #eeeeee;
    box-shadow: 2px 3px 5px #eeeeee;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}