@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    color: #333232;
    font-family: "Montserrat Light", "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

code {
    font-family: "Ubuntu Mono", "consolas", monospace;
}

a {
    color: #089cce;
    text-decoration: none;
}

.light-color {
    color: #aaa9a9;
}

.post-title a {
    color: inherit;
    font-weight: 500;
}

.post-title a:hover {
    color: #089cce;
}

.post {
    border-top: solid 1px #f6f6f6;
    border-bottom: solid 1px #eeeeee;
    box-shadow: 2px 3px 5px #eeeeee;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}