@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #333232;
    background-color: #f9f9f9;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}

code {
    font-family: "Ubuntu Mono", "consolas", monospace;
    line-height: 1.2em;
}

a {
    color: #089cce;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: solid 1px #cccbcb;
}

.container {
    margin-bottom: 50px; /* equal to footer height or greater*/
}

.light-color {
    color: #aaa9a9;
}

.post-title a {
    color: inherit;
    font-weight: 500;
}

.post-title a:hover {
    color: #089cce;
}

.post {
    border-top: solid 1px #f6f6f6;
    border-bottom: solid 1px #eeeeee;
    box-shadow: 2px 3px 5px #eeeeee;
}

.title {
    font-size: 1.8em;
    line-height: 1.6em;
    text-align: center;
    margin: 5px 0;
}

.post-by {
    text-align: center;
}

.cover-image img {
    width: 100%;
}

.content {
    width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}

.content article {
    padding: 15px;
}

footer {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    right: 0; /* fix for horizontal scroll*/
    left: 0; /* fix for horizontal scroll*/
    width: 100%;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

footer p {
    margin: 0;
}